* {
    margin: 0;
    padding: 0;
}
a {
    color: #3366CC;
}


body {
    color: #444444;
    font: 62.5% "Lucida Sans Unicode",sans-serif;
    margin: 0;
}

input {
    color: #555555;
    font: 1.1em "Lucida Sans Unicode",sans-serif;
}
p, ul {
    font-size: 1.2em;
    padding-bottom: 1.2em;
}

h1 {
    font-size: 1.4em;
    margin-bottom: 4px;
}


h1, h2, h3 {
    color: #367EA6;
    padding-top: 6px;
}
.clearer {
    clear: both;
}

.container {
    background: url("../img/bgcontainer.gif") repeat-y scroll 0 0 transparent;
    margin: 0 auto;
    padding-bottom: 6px;
    width: 100%;
}
.header {
    background: url("../img/header.gif") repeat-x scroll 0 0 transparent;
}
.title h1 {
    color: #FFFFFF;
    font: 3em/150px Verdana,sans-serif;
    height: 150px;
    margin-bottom: 8px;
    text-align: center;
}
.navigation {
    margin-bottom: 4px;
}
.navigation a {
    background-color: #4A91C3;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: left;
    font: bold 1.2em "Trebuchet MS",sans-serif;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 19%;
}
.navigation a:hover {
    background-color: #000000;
    color: #FFFFFF;
}
.main {
    clear: both;
    padding: 8px 18px;
}
.sidenav h1, .sidenav ul {
    padding-left: 12px;
}
.sidenav {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #E5E5E5;
    float: left;
    width: 200px;
}
.sidenav h1 {
    color: #666666;
    font-size: 1.2em;
    height: 20px;
    margin-top: 1.2em;
}
.sidenav ul {
    background: url("../img/bgul.gif") repeat-x scroll 0 0 transparent;
    border-top: 1px solid #FAFAFA;
    margin: 0;
    padding: 0;
}
.sidenav li {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #FAFAFA #FAFAFA;
    border-right: 1px solid #FAFAFA;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    list-style: none outside none;
    margin: 0;
}
.sidenav li a {
    color: #777777;
    display: block;
    font-size: 0.9em;
    padding: 3px 6px 3px 14px;
    text-decoration: none;
}
.sidenav li a:hover {
    color: #111111;
}
#menu_horizontal ul {
    border-top: 1px solid #FAFAFA;
    font-size: 150%;
}
#menu_horizontal li {
    background: none repeat scroll 0 0 #77B3D3;
    border: 1px solid #FAFAFA;
    display: inline;
}
#menu_horizontal li a {
    color: #FAFAFA;
    font-weight: bold;
    padding: 3px 6px 3px 14px;
    text-decoration: none;
}
.content {
    float: right;
    width: 520px;
}
.content .item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-bottom: 8px;
    padding: 6px 12px;
}
.content .descr {
    color: #333333;
    margin-bottom: 6px;
}
.content li {
    list-style: disc outside url("../img/li.gif");
    margin-left: 18px;
}
form {
    padding: 0 0 6px 8px;
}
.styled {
    border: 1px solid #DDDDDD;
    padding: 4px;
}
.button {
    background: url("../img/search.gif") no-repeat scroll left bottom transparent;
    border: medium none;
    height: 27px;
    width: 27px;
}
.footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    color: #666666;
    font-size: 1.1em;
    margin: 0 auto;
    padding: 6px;
    text-align: center;
    width: 720px;
}
.footer a {
    color: #3366CC;
    text-decoration: none;
}
.footer a:hover {
    color: #0066FF;
    text-decoration: underline;
}

