/*-----------------------------------
		CSS TABLE GALLERY
		STYLESHEET: CLEAR BLUE
		AUTHOR: ROBERT HARTL
------------------------------------*/

table {
	font-size:100%;
	font-family: "trebuchet ms", "lucidia grande", verdana, arial, sans-serif;
	line-height:1.2em;
	background-color:#fff;
	border-collapse:collapse;
	text-align:left;
	letter-spacing:.1em;
}

thead th, tfoot th, tfoot td {
	border-right: 1px solid #fff;
	padding-left:5px;
	letter-spacing:0.1em;
	border-bottom: 1px solid #009;
}

thead th {
	color: #0066ff;
}


thead th a{
	text-decoration: none;
}
  
tfoot th, tfoot td {
	border-top: 2pt double #009;
}

td, th {
	padding:4px;
	text-align: center;
}

tbody tr th, tbody tr td {
	border-bottom: 1px dotted #009;
}

tbody tr:hover td, tbody tr:hover th {
	border-bottom: 1px solid #333;
}


tbody td a {
	background: transparent;
	color: #3c5ce7;
	text-decoration: none;
	border:none;
}

tbody td a:hover, tbody th a:hover {
	background: transparent;
	color: #930;
}

tbody tr:hover {
	color: #333;
	background: #c6c6e8;
}

tbody tr th:hover {
	background:#fff;
}

table a:visited {
	color:#930;
}

tbody tr.hilite td {
	color: #333;
	background: #c6c6e8;
}

.tablas-alineadas table {
	display: inline-block;
}


.tablas-alineadas table tbody{
    display: block;
    height: 360px;
    overflow: auto;
    width: 100%;
}


.tablas-alineadas table thead th{
    width: 75px;
}

.tablas-alineadas table tbody td{
    width: 75px;
}

.tablas-alineadas {
	display:inline-block;
}

.datos-jugador {
	display:inline-block;
	vertical-align:top;
	margin: 0 20px;
	text-align: center;
}


    

